
# Vim
*.swp
*~

# Steve Jobs
.DS_Store

# Our database file
tweets.db

__pycache__

aws-credentials.txt

#
# Production files that we should never check in.
#
bin/dev-set-telegram-env.sh
docker-compose.yml

