[settings]
twitter_app_key = FIXME
twitter_app_secret = FIXME

twitter_username = dmuth

final_oauth_token = THE APP WILL POPULATE THIS
final_oauth_token_secret = THE APP WILL POPULATE THIS
created = THE APP WILL POPULATE THIS

