
version: "3"

services:

  1-fetch-tweets:
    build:
      context: .
      dockerfile: "bin/Dockerfile-1-fetch-tweets"
    #restart: "always"
    privileged: true
    volumes:
      - .:/mnt
    command: --num 1000 --loop 300

  2-telegram-bot:
    build:
      context: .
      dockerfile: "bin/Dockerfile-2-telegram-bot"
    privileged: true
    volumes:
      - .:/mnt
    #
    # I can't believe underscores work in the --since param, but if it
    # keeps Docker from splitting up the string, great!
    #
    # Report every 6 hours on the last day's worth of tweets.
    #
    command: --since "1_days_ago" --interval 21600
    environment:
      #
      # Replace these with your Telegram chat ID and token
      #
      - TELEGRAM_CHAT_ID=
      - TELEGRAM_TOKEN=

  2-backup-tweets:
    build:
      context: .
      dockerfile: "bin/Dockerfile-2-backup-tweets"
    privileged: true
    volumes:
      - .:/mnt
    environment:
      #
      # A word of caution: the S3 base path *MUST* end in a slash.  This is because
      # slashes in S3 aren't really directory separators, but just part of the key, and
      # that means S3 is quite unforgiving if there is no trailing slash or two slashes next to each other.
      #
      - S3=s3://FIXME/
      - NUM_TO_KEEP=20
      #- LOOP_SECONDS=10


